@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:wght@300;400;500&display=swap");

* {
    box-sizing: border-box;
    font-family: "MuseoModerno", sans-serif;
}

body {
    background-color: black;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.7) !important;
}

.navbar .nav-link:hover {
    color: white;
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.9);
}